<?xml version="1.0" encoding="utf-8" ?>
<Configuration status="info" monitorInterval="1">

    <properties>
        <property name="logDir">F://log4j2</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%r %t %d{yyyy-MM-dd HH:mm:ss:SSS} %c %m%n"></PatternLayout>
        </Console>

        <!-- 配置文件输出 -->
        <File name="fileAppender" fileName="${logDir}//log4j2.log">
            <!-- 配置文件输出格式 -->
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss:SSS} %c %M %L %thread %m%n"></PatternLayout>
        </File>

        <!-- 按照指定规则来拆分日志文件
            fileName：日志文件得名字
            filePattern: 日志文件拆分后文件得命名规则
            $${data:yyyy-MM-dd}: 根据日志当天创建一个文件夹
            rolling-%d{yyyy-MM-dd-HH-mm}-%i.log: 文件名  i 从 0开始
         -->
        <RollingFile name="rollingFile" fileName="${logDir}/rolling.log" filePattern="${logDir}/$${date:yyyy-MM-dd}/rollog-%d{yyyy-MM-dd-HH-mm}-%i.log">
            <!-- 日志消息的格式 -->
            <PatternLayout pattern="%r %t %d{yyyy-MM-dd HH:mm:ss:SSS} %m%n"></PatternLayout>
            <!-- 配置策略 -->
            <Policies>
                <!-- 系统启动时，出发拆分规则，产生一个日志文件 -->
                <OnStartupTriggeringPolicy />
                <!-- 根据大小进行拆分 -->
                <SizeBasedTriggeringPolicy size="10KB" />
                <!-- 根据时间节点进行拆分 -->
                <TimeBasedTriggeringPolicy />
            </Policies>

            <!-- 在同一目录下， 文件的个数限制，如果超出了设置的数值，则根据时间进行覆盖，新的覆盖旧的规则-->
            <DefaultRolloverStrategy max="30"/>

        </RollingFile>

        <!-- 配置异步日志 -->
<!--        <Async name="asyncLog">-->
<!--            <AppenderRef ref="Console"></AppenderRef>-->
<!--        </Async>-->

    </Appenders>

    <Loggers>

        <!-- 自定义Logger，让自定义的Logger为异步的logger
            includeLocation="false" 去除日志中的行号信息，行号信息非常影响日志记录的效率(生产中不加这个行号)，严重的时候比同步还低
            additivity="false"  不继承RootLogger
         -->
        <AsyncLogger name="com.log4j2" level="trace" includeLocation="false" additivity="false">
            <!-- 将控制台的输出设置为异步打印 -->
            <AppenderRef ref="Console"/>
        </AsyncLogger>


        <Root level="trace">
            <!-- 配置根root -->
<!--            <AppenderRef ref="asyncLog"></AppenderRef>-->
            <AppenderRef ref="Console"></AppenderRef>
<!--            <AppenderRef ref="rollingFile"></AppenderRef>-->
        </Root>
    </Loggers>
</Configuration>